nav{
    padding: 1rem;
    background-color: #1C1C1C;
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin: 1rem;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: grey;
}

@media (max-width: 600px) {
}